@import "./external-styles.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: $pt-dark-app-background-color;
  
  #root {
    height: inherit;
    
    .App{
        height: inherit;
        display: flex;
        flex-flow: column;
        .container{
            overflow: hidden;
        }
    }
  }

}

#root {
  height: inherit;
  width: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
